<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{aboutCoverImage}})">
    <div class="container">
      <div class="row">
        <div class="page-banner-title text-center col-12">
          <h2>about</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Banner Area End -->
  
  <!-- About Area Start -->
  <div id="about-area" class="about-area section pb-60 pt-60">
    <div class="container">
      <div class="row flex-column flex-lg-row-reverse">
        <!-- About Image -->
        <div class="about-image col-lg-5 col-12">
          <img src="{{aboutSideImage}}" alt="About MamboleFC">
        </div>
        <!-- About Content -->
        <div class="about-content about-content-2 col-lg-7 col-12">
            <h1>DYNAMIC SPORTS ACADEMY.</h1>
<p>
            Dynamic Sports Academy is a sports club located at Agona Asafo, close to Agona Swedru in the central region of Ghana. The Academy was founded by Mr. George Papamikidis, who is  the President and CEO of the institution.
   </p>
   <p>
            Registered and Established in July 2010, primarily as the Asafo United Football club playing and operating in the central region 2nd division league. 
      </p>
      <p>
            After several seasons of success in the 2nd division league, In 2015, the operational focus shifted to unearthing and developing juvenile talents in the Ghana and Africa as the Cadima Sports Academy with the operating name Asafo Cadima. 
        </p>
        <p>   
            Currently operating as the Dynamic Academy, the team works with talented young players scouted from all over Ghana and Africa in the following youth categories. 
         </p>
         <ul>
            <li>
                Boys Under 13      
            </li>
            <li>
                Boys Under 15 
            </li>
            <li>
                Boys Under 17
            </li>
         </ul>
        <p>
         Affiliated to the Ghana Football Association in 2010, Our juvenile teams participates in the Central regional and district juvenile colts league and the Agona Distrcit Juvenile Football League.
           </p>
           <p> 
            Dynamic Academy currently also operates an amateur mens team comprising of players over 17 years and semi-professional players preparing to make the big step into fulltime professional sports in Ghana and the international markets.
            </p>
            <p>Teams:</p>
            <ul>
                <li>
                    Boys Under 13      
                </li>
                <li>
                    Boys Under 15 
                </li>
                <li>
                    Boys Under 17
                </li>
                <li>
                    Girls Under 17
                </li>
                <li>
                    Mens Amatuer
                </li>
             </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- About Area End -->
  