<style>
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    li {
      height: 100vh;
      flex-grow: 1;
    }

    img {
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
    }
  </style>

  <!-- Page Banner Area Start -->
  <div id="page-banner-area" class="page-banner-area section" style="background-image: url({{academyCoverImage}})">
    <div class="container">
      <div class="row">
        <div class="page-banner-title text-center col-xs-12">
          <h2>join academy</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Banner Area End -->

  <!-- Contact Area Start -->
  <div id="contact-area" class="contact-area section pb-60 pt-60">
    <div class="container">
      <div class="row">
        <!-- Contact Info -->
        <!-- Contact Form -->
        <div class="col-lg-8 col-md-7 col-12 mb-30">
          <div class="contact-form">
            <div class="form">
              <h4>Join the Academy</h4>
              <form [formGroup]="academyForm">
                <input type="text" name="name" placeholder="Name" [formControlName]="'name'">
                <input type="email" name="phoneNumber" placeholder="Phone Number}" [formControlName]="'phoneNumber'">
                <input type="text" name="email" placeholder="Email" [formControlName]="'email'">
                <input type="text" name="dateOfBirth" placeholder="Date Of Birth" [formControlName]="'dateOfBirth'">
                <input type="text" name="residentalAddress" placeholder="Residental Address" [formControlName]="'residentalAddress'">
                <input type="text" name="city" placeholder="City" [formControlName]="'city'">
                <input type="text" name="country" placeholder="Country" [formControlName]="'country'">
                <button (click)="submitToAcademy()" class="submit">Send</button>
              </form>
            </div>
          </div>
          <div class="success hide">
            <h4>You have successfully sent a submission for membership</h4>
          </div>
          <div class="fail hide">
            <h4>An error occurred. Message was not sent. Please try again later</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Area End -->
