<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{shopCoverImage}})">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>shop</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->

<div id="contact-area" class="contact-area section pb-60 pt-60">
  <div class="container">
    <div class="row">
      <!-- Contact Info -->
      <div class="col-lg-12 col-md-12 col-12 mb-30">
        <h1>Coming Soon...</h1>
        <h2>Shop details to follow</h2>

      </div>
    </div>
  </div>
</div>
<!-- Contact Area End -->
