<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{teamCoverImage}})">
    <div class="container">
      <div class="row">
        <div class="page-banner-title text-center col-12">
          <h2>team</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Banner Area End -->

    <!-- Staff Area Start -->
    <div id="staff-area" class="staff-area section pb-120 pt-120">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Staff Tab List -->
                    <ul class="staff-tab-list nav nav-tabs text-center">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#intro">Intro</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#boys-under-13">Boys Under 13</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#boys-under-15">Boys Under 15</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#boys-under-17">Boys Under 17</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#womens-amature">Womens Amature</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#mens-amature">Mens Amature</button>
                        </li>
                    </ul>
                </div>
                <!-- Staff Tab panes -->
                <div class="tab-content">
                    <!-- Manager Tab -->

                  <!-- First Team Tab -->
                  <div role="tabpanel" class="tab-pane fade active show" id="intro">
                    <div class="row">
                      <ng-container *ngIf="intro.length > 0">
                        <!-- Single Stuff -->
                        <div class="image col-3"><img src="{{georgeHeadshot}}" alt=""></div>

                        <div class="staff-item  col-9 mb-30">
                          <p *ngFor="let line of intro" >
                            {{line}}
                          </p>
                        </div>
                      </ng-container>
                    </div>
                  </div>

                  <!-- First Team Tab -->
                    <div role="tabpanel" class="tab-pane fade" id="boys-under-13">
                        <div class="row">
                            <ng-container *ngIf="boysUnder13Team.length > 0; else noBoysUnder13">

                                <!-- Single Stuff -->
                                <div *ngFor="let boy of boysUnder13Team" class="staff-item col-xl-3 col-lg-4 col-md-6 col-12 mb-30">
                                  <div class="image"><img src="https://placehold.co/270x284" alt=""></div>
                                  <div class="content">
                                    <div class="details">
                                      <h4><a href="#">{{boy['firstName']}} {{boy['lastName']}}</a></h4>

                                    </div>
                                  </div>
                                </div>
                              </ng-container>
                              <ng-template #noBoysUnder13>
                                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no items!</div>
                              </ng-template>
                        </div>
                    </div>

                    <!-- Academy Tab -->
                    <div role="tabpanel" class="tab-pane fade" id="boys-under-15">
                        <div class="row">
                          <ng-container *ngIf="boysUnder15Team.length > 0; else noBoysUnder15">

                            <!-- Single Stuff -->
                            <div *ngFor="let boy of boysUnder15Team" class="staff-item col-xl-3 col-lg-4 col-md-6 col-12 mb-30">
                              <div class="image"><img src="https://placehold.co/270x284" alt=""></div>
                              <div class="content">
                                <div class="details">
                                  <h4><a href="#">{{boy['firstName']}} {{boy['lastName']}}</a></h4>

                                </div>
                              </div>
                            </div>
                          </ng-container>
                          <ng-template #noBoysUnder15>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no items!</div>
                          </ng-template>
                        </div>
                    </div>


                      <!-- Academy Tab -->
                    <div role="tabpanel" class="tab-pane fade" id="boys-under-17">
                        <div class="row">

                          <ng-container *ngIf="boysUnder17Team.length > 0; else noBoysUnder17">

                              <!-- Single Stuff -->
                              <div *ngFor="let boy of boysUnder17Team" class="staff-item col-xl-3 col-lg-4 col-md-6 col-12 mb-30">
                                <div class="image"><img src="https://placehold.co/270x284" alt=""></div>
                                <div class="content">
                                  <div class="details">
                                    <h4><a href="#">{{boy['firstName']}} {{boy['lastName']}}</a></h4>

                                  </div>
                                </div>
                              </div>
                          </ng-container>
                          <ng-template #noBoysUnder17>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no players in this category!</div>
                          </ng-template>

                        </div>
                    </div>

                                        <!-- Academy Tab -->
                                        <div role="tabpanel" class="tab-pane fade" id="womens-amature">
                                            <div class="row">

                                                <ng-container *ngIf="womensAmature.length > 0; else noWomensAmature">

                                                    <!-- Single Stuff -->
                                                    <div *ngFor="let boy of boysUnder17Team" class="staff-item col-xl-3 col-lg-4 col-md-6 col-12 mb-30">
                                                      <div class="image"><img src="https://placehold.co/270x284" alt=""></div>
                                                      <div class="content">
                                                        <div class="details">
                                                          <h4><a href="#">{{boy['firstName']}} {{boy['lastName']}}</a></h4>

                                                        </div>
                                                      </div>
                                                    </div>
                                                </ng-container>
                                                <ng-template #noWomensAmature>
                                                  <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no players in this category!</div>
                                                </ng-template>
                                            </div>
                                        </div>



                                                                <!-- Academy Tab -->
                    <div role="tabpanel" class="tab-pane fade" id="mens-amature">
                        <div class="row">

                          <ng-container *ngIf="mensAmature.length > 0; else noMensAmature">

                            <!-- Single Stuff -->
                            <div *ngFor="let men of mensAmature" class="staff-item col-xl-3 col-lg-4 col-md-6 col-12 mb-30">
                              <div class="image"><img src="https://placehold.co/270x284" alt=""></div>
                              <div class="content">
                                <div class="details">
                                  <h4><a href="#">{{men['firstName']}} {{men['lastName']}}</a></h4>

                                </div>
                              </div>
                            </div>
                          </ng-container>
                          <ng-template #noMensAmature>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no players in this category!</div>
                          </ng-template>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Staff Area End -->
