.hero-item img.logo-slide {
    width: 300px;
    height:300px;
  }

.hero-item img.logo-slide-slide {
    width: 100px !important;
    height:100px !important;
}
  

.slick-slide img {
    display: inline;
}

.logo-slide, .logo-slide-mobile {
    position: absolute;
    right: 0px;
    bottom:0px;
}

.slick-slide img.logo-slide, .slick-slide img.logo-slide-mobile  {
    display:inline;
}