

<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section" style="background-image: url({{videosCoverImage}})">
  <div class="container">
    <div class="row">
      <div class="page-banner-title text-center col-12">
        <h2>videos</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner Area End -->
<div class="container">
<lightgallery [settings]="settings" [onHasVideo]="onHasVideo" [onInit]="onInit">
  <ng-template ngFor let-item [ngForOf]="items">
  <a
    [attr.data-lg-size]="item.size"
    [attr.href]="item.src"
    class="gallery-items"
  >
    <img
      width="350"
      height="250"
      class="img-responsive"
      src="{{item.thumb}}"
    />
  </a>
  </ng-template>
</lightgallery>
</div>

